<div id="<%= dom_id(message) %>" class="message p-4 rounded-lg <%= message.role == 'assistant' ? 'bg-gray-100' : 'bg-white border' %>">
  <div class="font-bold mb-1"><%= message.role.capitalize %></div>
  <% if message.content.present? %>
    <div class="message-content"><%= message.content %></div>
  <% else %>
    <div id="msg_<%= message.id %>_chunks" class="message-chunks"></div>
  <% end %>
</div>
